@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-regular.eot");
  src:
    url("/assets/fonts/poppins-regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/poppins-regular.woff2") format("woff2"),
    url("/assets/fonts/poppins-regular.woff") format("woff"),
    url("/assets/fonts/poppins-regular.ttf") format("truetype"),
    url("/assets/fonts/poppins-regular.svg#Poppins") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-webkit-scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
